/*таблиця*/

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    min-width: 900px;
  }
  
  
  .schedule-table th, 
  .schedule-table td {
    padding: 14px 10px;
    border: 2px solid #dde0e0;
    text-align: center;
    vertical-align: middle;
  }
  
  
  .schedule-table thead th {
    background-color: #e8ebeb;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #bdc3c7;
  }
  
  
  .schedule-table .subject {
    font-weight: bold;
    color: #253647;
    margin-bottom: 4px;
    font-size: 15px;
  }
  
  .schedule-table .teacher {
    font-size: 13px;
    color: #666;
    margin-bottom: 4px;
  }
  
  .schedule-table .room {
    font-size: 13px;
    color: #e74c3c;
    font-weight: 500;
  }